.card{
    display: flex;
    flex-direction: column;
    align-items: center;        
}

#card-imagen{
    align-items: center;
    justify-content: center;
}

.botones{
    width: 300%;
    height: 500%;
    flex-direction: column;
    margin-top: 130%;
}

.contenido{
    margin-top:0 ;
    flex-direction: column;
    align-items: center;
}