<ActionBar backgroundColor="#FC4664">
    <Label text="Perfil" color="#FFF";></Label>
  </ActionBar>
  
  <DockLayout stretchLastChild="true" padding="10" backgroundColor="#1e293b">
    <Label text="" dock="left" width="40" ></Label>
    <Label text="" dock="top" height="40"></Label>
    <Label text="" dock="right" width="40"></Label>
    <Label text="" dock="bottom" height="40"></Label>
<!--El "FlexboxLayour" Reemplaza el "Div" de HTML.-->
    <FlexboxLayout>
      <FlexboxLayout class="contenedor">
        <FlexboxLayout class="card">
          <FlexboxLayout class="card-imagen">
            <Image class="foto" src="~/app/images/perfiil.jpg"></Image>
          </FlexboxLayout>
          <FlexboxLayout class="card-body">
            <FlexboxLayout class="contenido">
              <label class="fas" text="&#xf007; Juan Pablo" ></label>
              <label class="fas" text="&#xf0e0; juanpa@gmail.com"></label>
              <label class="fas" text="&#xf073; 24/03/2001"></label>
              <label class="fas" text="&#xf095; 3004006948"></label>
            </FlexboxLayout>
          </FlexboxLayout>
        </FlexboxLayout>
      </FlexboxLayout>
    </FlexboxLayout>
  </DockLayout>
<FlexboxLayout class="botones">
  <Button class="botonedit" text="Editar perfil" [nsRouterLink]="['#']" pageTransition="slide" clearHistory="true" backgroundColor="#FC4664"></Button>
  <Button class="botonregre" text="Regresar"[nsRouterLink]="['/home']" pageTransition="hero" clearHistory="true" backgroundColor="#FC4664" color="#FFF"></Button>
</FlexboxLayout>